<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
    <link rel="stylesheet" href="././css/edit.css">
</head>
<body>
<div id="root">
    <span>
        <h1>修改图书信息
        <img th:src="@{/images/logo.jpeg}">

        </h1>
    </span>

    <div id="Block" class="block">
        <form th:action="@{/edit}" method="post" th:object="${book}">
            <input type="hidden" name="id" th:value="*{id}">
            <table>
                <tr>
                    <th>名称: </th>
                    <td><input type="text" name="bookName" class="text" th:value="*{bookName}"/></td>
                </tr>
                <tr>
                    <th>作者: </th>
                    <td><input type="text" name="author" class="text" th:value="*{author}"/></td>
                </tr>
                <tr>
                    <th>出版年: </th>
                    <td><input type="text" name="publishYear" class="text" th:value="*{publishYear}"/></td>
                </tr>
                <tr>
                    <th>数量: </th>
                    <td><input type="text" name="amount" class="text" th:value="*{amount}"/></td>
                </tr>
                <tr>
                    <th>简介: </th>
                    <td><textarea name="brief" id="" cols="30" rows="6" class="text" th:text="*{brief}"></textarea></td>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="submit" value="修改" class="btn"/>
                        <a th:href="@{/index}"><button class="btn">返回</button></a>
                    </th>
                </tr>
            </table>
        </form>

    </div>

</div>

</body>
</html>