<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="././css/login.css">
</head>
<body>
    <form th:action="@{/login}" method="post" class="userAccountInput">
        <h1>登录</h1>
        <input type="text" name="username" placeholder="请输入用户名" class="text"/><br>
        <input type="password" name="password" placeholder="请输入密码" class="text"/><br>
        <input type="submit" value="登录" id="btn"/> <br>
        <a th:href="@{/register}" id="register">我要注册</a>
    </form>

</body>
</html>