<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="././css/login.css">
</head>
<body>
<div class="userAccountInput">
    <a th:href="@{/}" id="return">&lt;返回登录</a><br>
    <h1>注册新账户</h1>
    <form th:action="@{/register}" method="post">
        <input type="text" name="username" placeholder="请输入用户名" class="text"/><br>
        <input type="password" name="password" placeholder="请输入密码" class="text"/><br>
        <input type="submit" value="注册" id="btn"/>
    </form>
</div>
</body>
</html>